<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact-us</title>
</head>
<body>
    <h1>Your Home is successfully registered!</h1>
    <p>your home is successfully added to our list. Thank You!</p>
    <a href="/host/homeList">Go to Home</a>
</body>
</html>